{% include "includes/header.html" %}
    <section id='banner' class='container-fluid bg3'>
        <div class="banner-info vhCenter text-center">
            <h4 class='heading'>Mariano Meijome</h4>
            <div class='line'></div>
            <h5 class='heading'>Machine Learning Engineer</h5>
<!--            <button class="btn btn-primary">Read More</button>-->
        </div>
    </section>
    
    <section id="main-content" class='container-fluid'>
        <div class="row">
            <div class="row">
            <div class="col"></div>
        	<div class="col-m-8 bio">
                <h2 class='heading-inverse text-center' style="padding-bottom:20px">About
                <div style="margin:10px auto; background:white" class="line"></div></h2>
                <p>Thank you for taking a look at my dashboard of projects. After completing my BAS in Media Arts & Science, I continued learning through free online courses. Since graduating, I have completed the Machine Learning Specialization from Stanford University, Deep Learning Specialization by deeplearning.ai, and Practical Deep Learning for Coders by fast.ai.</p>
                <p>I have been working as a Senior 3D Artist for the past 3 years while taking these courses and building my skills in artificial intelligence. I hope to soon combine my interests of 3D reconstruction and machine learning through computer vision.</p>
            </div>
            <div class="col"></div>
    	</div>
        </div>

    </section>
{% include "includes/footer.html" %}